/* css reset inport */
@import url(./style_reset.css);

/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

body {
    font-family: "Manrope", sans-serif;
    background-position: center;
    background-size: cover;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

.bootstrap-logo {
    width: 40px;
    margin-left: 5px;
}

.heading {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    border: solid 1px black;
    border-radius: 8px;
    background-color: yellow;
    box-shadow: 0px 0px 16px 9px rgba(34, 60, 80, 0.6);
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;

    padding-bottom: 30px;
}

.wrapper {
    max-width: 1130px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 20px;

    font-size: 18px;
    background: rgba(0, 0, 0, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.26);
}

ul {
    padding-left: 0;
}

.description__items {
    margin-bottom: 8px;
}

.post-info {
    font-size: 12px;
    display: flex;
    justify-content: end;
    margin: 0 5px 5px 0;
}

.post-count {
    font-size: 15px;
}

.bottom-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.counter {
    font-size: 14px;
}

.input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
}

.form-control {
    margin: 5px;
    width: auto;
    display: inline;
}

.form-select {
    width: auto;
    display: inline;
}

.button {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
}

.card {
    width: 350px;
}
